.navbar-toggler-icon {
   background-color: #F53855;
   border-radius: 5px;
  }
  @media only screen and (max-width: 767px) {
   .rectangle{
      margin-top: 1850px;
   }
 }

  
 @media only screen and (max-width: 767px) {
   .footer{
      display: flex;
      flex-direction:column;
   }
 }
 
